<h1>you're home</h1>

<% if (!user) { %>
    <div class="container">
        <h2>welcome back to loggr</h2>
        <h3>get started by <a href="/users/new">creating an account</a> or <a href="/users/login">logging in</a></h3>
    </div>
<% } else { %>
    <div>
        <h2>welcome to loggr - the break tracking app!</h2>
        <h3>get started by <a href="/classrooms">creating your first classroom!</a></h3>
    </div>

<% } %>
