*{
    background-color: antiquewhite
}

h1, h2, h3, h4{
    margin: auto;
    text-align: center;
}

.student-container{
    display: flex;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}