*{
    background-color: antiquewhite
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4{
    /* margin: auto; */
    text-align: center;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}