*{
    background-color: grey;
}

h1, h2, h3, h4, h5, h6{
    margin: auto;
    text-align: center;
}

.signup{
    width: 50vw;
}

.student-container{
    display: flex;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}