<h1>students index</h1>
<a href="/students/new">add new student here</a>
<ul>
    <% studentList.forEach(student => { %>
     <li>
         <a href="/students/<%- student.id %>">
             <%- student.last_name %>, <%- student.first_name %> 
         </a>
    </li>
    <form action="/students/remove-student?_method=DELETE" method="POST"></form>
        <label for="delete-student"></label>
        <!-- hidden input to store student id value -->
        <input type="hidden" value="<%= student.id %>" name="currentStudent">
        
        <button type="submit">delete this student</button>
    </form>
    <% }) %>
</ul>