<h1>students index</h1>
<a href="/students/new">add new student here</a>
<div class="container">
    <% studentList.forEach(student => { %>
     <div>
         <a href="/students/<%-// student.id %>">
             <%-// student.last_name %>, <%-// student.first_name %> 
         </a>
     </div>
    <% }) %>
</div>
