<h1>new student page</h1>
<form action="/students" method="POST">

    <label for="first_name"></label>first name</label>
    <input type="text" name="first_name" id="first_name">
    <label for="last_name"></label>last name:</label>
    <input type="text" name="last_name" id="last_name">
    
    <input type="submit" value="add student">

</form>