<h1>new student page</h1>
<form action="/students" method="POST">

    <label for="first-name"></label>first name</label>
    <input type="text" name="first-name" id="first-name">
    <label for="last-name"></label>last name:</label>
    <input type="text" name="last-name" id="last-name">
    <!-- student has first name -->
    <input type="submit" value="add student">

</form>