<h1>classrooms index</h1>
<h2>My Classrooms:</h2>
<div class="container">
    <% classList.forEach(classroom => { %>
        
     <div>
         <a href = "/classrooms/<%- classroom.id %> "> <%- classroom.class_name %> </a>
         <!-- form to remove classroom -->
         <form method="POST" action="/classrooms/remove-classroom?_method=DELETE">
             <input type="hidden" value="<%- classroom.id%>" name="thisClassroom">
            <button type="submit">delete classroom</button>
         </form>
     </div>
     
    <% }) %>
    
</div>
<div class="container">
    <!-- form to add class inline -->
    <form action="/classrooms/newclassroom" method="post">
        <input type="text" name="classroom_name" >
        <button type="submit">add new classroom</button>
    </form>

</div>