<h1>classrooms index</h1>
<a href="/classrooms/new">add new classroom here</a>
<h2>Classes:</h2>
<ul>
    <% classList.forEach(classroom => { %>
     <li>
         <a href = "/classrooms/<%- classroom.id %> "> <%- classroom.class_name %> </a>
     </li>
    <% }) %>
</ul>