<form action="/classrooms" method="POST">

    <label for="classroom_name"></label>class name:</label>
    <input type="text" name="classroom_name" id="classroom_name">

    <input type="submit" value="add to my classrooms">
</form>