<form action="/classrooms" method="POST">

    <label for="classroom-name"></label>class name:</label>
    <input type="classroom-name" name="classroom-name" id="classroom-name">

    <input type="submit" value="add to my classrooms">
</form>